@charset "utf-8";

// Define defaults for each variable.

$serif-font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$sans-font-family: Roboto, Helvetica, Arial, sans-serif;

$base-font-family: $sans-font-family;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$title-font-size:  $base-font-size * 1.5 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$sans-font-family: Arial, Helvetica, sans-serif;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;

$site-title-color: $text-color !default;

$brand-color:       #2a7ae2 !default;
$brand-color-light: lighten($brand-color, 40%) !default;
$brand-color-dark:  darken($brand-color, 25%) !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}
  
@mixin relative-font-size($ratio) {
	font-size: #{$ratio}rem;
}

// Import partials.
@import
  "minima/base",             // Defines element resets.
  "minima/layout",           // Defines structure and style based on CSS selectors.
  "minima/custom-styles"     // Hook to override existing styles.
;